.playlist>header {
	display: none;
	align-items: center;
	gap: 20px;
}

.playlist>header.mostrar {
	display: flex;
}

.playlist>header>.imagen {
	width: 125px;
	height: 125px;
	border-radius: 5px;
	background: #000;
	display: block;
	background-image: var(--imagen);
	background-size: cover;
}

.playlist>header>.informacion {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.playlist>header>.informacion>h1 {
	margin: 0;
	font-size: 35px;
}

.playlist>header.edicion {
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.playlist>header.edicion>h1 {
	margin: 0;
}

.playlist>header.edicion>.doble {
	display: flex;
	gap: 10px;
}

.playlist>header.edicion>.doble>label {
	min-width: 300px;
}
