body{
    background-color: #18181b;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h1{
    color: #fff;
}
/* La contraseña debe contenter entre 8 y 20 caracteres, 2 de ellos numeros y uno mayusculas*/
form{
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 20px;
}

label{
    color: #fff;
}

#aviso-contra{
    background-color: lightcoral;
    border-radius: 2px;

}

#boton_mandar{
    width: 100%;
    padding: 10px;
    background: #1ed760;
    color: #fff;
    border: none #1ed760;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
}