<section id="contenido" class="contenido-canciones">
	<h1>Indice de canciones</h1>
	<div id="div_busc">
		<label for="buscador">Buscar: </label>
		<input type="text" name="buscador" id="input-buscador" placeholder="Nombre, artista...">
		<button id="boton-buscar-cancion" type="submit">Buscar</button>
	</div>
	<br>
	{% for cancion in canciones %}
	<div class="cancion" data-cancion-id="{{ cancion.id }}">
		<div class="cover" style="--cover:url('/api/cancion/{{ cancion.id }}/cover')"></div>
		<div class="informacion">
			<span class="titulo">{{ cancion.nombre }}</span>
			<span class="artista">
				{% for artista in cancion.artistas %}
				{{ artista.nombre }}{% if not forloop.last %},{% endif %}
				{% endfor %}
			</span>
		</div>
	</div>
	{% endfor %}
</section>
