<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="/static/css/login-registro.css">
</head>

<body>
	<form action="api/sesion/iniciar" method="post">
		{% csrf_token %}
		<h1>Iniciar Sesión</h1>
		{% if error %}
		<div class="error">{{ error }}</div>
		{% endif %}
		<div class="inputs">
			<label>
				<input name="usuario" type="text" {% if usuario %}value="{{ usuario }}" {% endif %}
					style="margin-top:10px;" placeholder="Correo electrónico o nombre de usuario" required>
			</label>
			<label>
				<input name="contra" type="password" style="margin-top:10px" placeholder="Contraseña" required>
			</label>
		</div>

		<button type="submit" class="login-btn">Iniciar sesión</button>

		<div class="registrar">
			<p>¿No tienes una cuenta? <a href="/registro">Regístrate</a></p>
		</div>
	</form>
</body>

</html>
