<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <form action="api/sesion/iniciar" method="post">
        {% csrf_token %}
        <h1>Iniciar Sesión</h1>
        <div class="inputs">
            <label>
                <input name="usuario" type="text" placeholder="Correo electrónico o nombre de usuario" required>
            </label>
        </div>
        <div class="inputs">
            <label>
                <input name="contra" type="password" placeholder="Contraseña" required>
            </label>
        </div>
        
        <button type="submit" class="login-btn">Iniciar sesión</button>
        
        <div class="registrar">
            <p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
        </div>
    </form>
</body>
</html>