<section id="contenido" class="playlist">
	<header class="principal mostrar">
		<img class="imagen" id="playlist-cover" src="{{ playlist.cover }}" />
		<div class="informacion">
			<h1 id="playlist-nombre">{{ playlist.nombre }}</h1>
			<span>Playlist creada por ti</span>
			<div>
				<button id="playlist-editar">Editar información</button>
				<button class="boton-blanco" id="playlist-anyadir">Añadir canción</button>
				<button class="boton-rojo" id="playlist-eliminar">Eliminar playlist</button>
			</div>
		</div>
	</header>
	<header class="edicion">
		<h1>Editando la playlist</h1>
		<div class="doble">
			<label>Nombre de la playlist: </label>
			<input placeholder="Nombre de la playlist..." id="input-playlist-nombre" />
		</div>
		<div class="doble">
			<label>URL de la imagen (opcional): </label>
			<input placeholder="URL de la imagen..." id="input-playlist-cover" />
		</div>
		<div>
			<button class="cancelar" id="playlist-cancelar">Cancelar</button>
			<button id="playlist-guardar" data-playlist-id="{{ playlist.id }}">Guardar informacion</button>
		</div>
	</header>
	<hr>
	{% for cancion in canciones %}
	<div class="cancion" data-cancion-id="{{ cancion.id }}" data-playlist-id="{{ playlist.id }}">
		<div class="cover" style="--cover:url('/api/cancion/{{ cancion.id }}/cover')"></div>
		<div class="informacion">
			<span class="titulo">{{ cancion.nombre }}</span>
			<span class="artista">
				{% for artista in cancion.artistas %}
				{{ artista.nombre }}{% if not forloop.last %},{% endif %}
				{% endfor %}
			</span>
		</div>
	</div>
	{% empty %}
	No tienes canciones.
	{% endfor %}
</section>
