<link rel="stylesheet" href="../static/css/playlists.css">
<section id="contenido">
	<h1>Tus playlists</h1>
	<div id="div_busc">
		<label for="buscador">Buscar: </label>
		<input type="text" name="buscador" id="input-buscador" placeholder="Nombre...">
		<button id="boton-buscar-playlist" type="submit">Buscar</button>
	</div>
	<br>
	<button id="boton-crear-playlist">Crear una playlist</button>
	<br>
	<div style="margin-top:20px;" class="lista-playlists">
		{% for playlist in playlists %}
		<div data-seccion-destino="playlist" data-playlist-id="{{ playlist.id }}" class="boton-playlist">
			<img src="{{ playlist.cover }}" />
			<span>{{ playlist.nombre }}</span>
		</div>
		{% empty %}
		No has creado ninguna playlist.
		{% endfor %}
	</div>
</section>
