<div class="reproductor">
	<div class="parte-informacion vacia">
		<div class="cover-cancion">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				<path
					d="M14 12c0 1.103-.896 2-2 2-1.103 0-2-.897-2-2s.897-2 2-2c1.104 0 2 .897 2 2zm10 0c0 6.627-5.373 12-12 12s-12-5.373-12-12 5.373-12 12-12 12 5.373 12 12zm-14.795 7.507c-2.17-.813-3.893-2.54-4.699-4.714l-1.02.127c.896 2.628 2.968 4.704 5.592 5.606l.127-1.019zm.26-2.077c-1.271-.596-2.299-1.624-2.895-2.896l-1.041.13c.709 1.721 2.084 3.097 3.807 3.807l.129-1.041zm6.535-5.43c0-2.209-1.791-4-4-4s-4 1.791-4 4 1.791 4 4 4 4-1.791 4-4zm2.473-2.665c-.711-1.722-2.086-3.097-3.807-3.807l-.131 1.041c1.271.596 2.299 1.624 2.896 2.896l1.042-.13zm2.027-.253c-.902-2.61-2.969-4.672-5.582-5.568l-.129 1.019c2.162.808 3.877 2.52 4.691 4.677l1.02-.128z" />
			</svg>
		</div>
		<div>
			<span class="titulo-cancion">Canción no seleccionada</span>
			<span class="artista-cancion">artista</span>
		</div>
	</div>
	<div class="parte-controles desactivados">
		<div class="botones">
			<button id="anterior" disabled>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path d="M4 2v20h-2v-20h2zm18 0l-16 10 16 10v-20z" />
				</svg>
			</button>
			<button id="playPausa" class="pausado" disabled>
				<svg class="iconoPausar" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path d="M11 22h-4v-20h4v20zm6-20h-4v20h4v-20z" />
				</svg>
				<svg class="iconoPlay" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path
						d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z" />
				</svg>
			</button>
			<button id="siguiente" disabled>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path d="M20 22v-20h2v20h-2zm-18 0l16-10-16-10v20z" />
				</svg>
			</button>
		</div>
		<div class="progreso deshabilitado">
			<div class="tiempo tiempo-actual">0:00</div>
			<div class="barra barra-tiempo">
				<div class="barra-progreso" style="--progreso:0%;"></div>
			</div>
			<div class="tiempo tiempo-maximo">0:00</div>
		</div>
	</div>
	<div class="parte-volumen">
		<div class="barra barra-volumen">
			<div class="barra-progreso" style="--progreso:100%"></div>
		</div>
		<span class="volumen-porcentaje">100%</span>
	</div>
</div>
<script src="/static/js/reproductor.js"></script>
